.searchDP-container {
  width: 100%;
  height: 110px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  background: linear-gradient(91.75deg, #2aa7ff 1.4%, #0c8ce6 100.57%);
  position: relative;
}
.searchbarDp-cub-container {
  width: 80%;
  height: 111px;
  display: flex;
  padding: 0px 20px;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
}
.searchDP-state {
  /* width: 326px;
  height: 50px;
  border: 1px; */
}
.searchDP-city {
  /* width: 522px;
  height: 57px;
  gap: 0px;
  border: 1px;
  border: Mixed solid #f0f0f0; */
}
