.mob-down-container {
  width: 100%;
  height: 542px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: linear-gradient(to right ); */
  background: linear-gradient(81deg, #E7F0FF 9.01%, rgba(232, 241, 255, 0.47) 89.11%);
overflow: hidden;
}
.mob-download {
  margin-top: 100px;
  width: 80%;
  height: 566px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.mob-img {
  position: relative;
  width: 600px;
  height: 100%;
  overflow: hidden;
}

.image1-frame1 {
  position: absolute;
  top: 30%;
}

.image1-mob {
  position: absolute;

  width: 295px;
  height: 464px;
  top: 21px;
  left: 6%;
  /* bottom: 0%; */
  z-index: 4;
}
.frame1-mob {
  position: absolute;
  width: 302px;
  height: 503px;
  left: 5%;
  z-index: 5;
}
.image2-frame2 {
  position: absolute;
  left: 33%;
  top: 110%;
}
.image2-mob {
  position: absolute;
  width: 295px;
  height: 490px;
  /* left: 40%; */
  bottom: 10%;
  z-index: 3;
}
.frame2-mob {
  position: absolute;
  width: 302px;
  height: 503px;
  left: 35%;
  bottom: -0%;
  z-index: 3;
}
.text-symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.text-mob-app {
  display: flex;
  flex-direction: column;
}
.download-heading {
  font-family: "Poppins";
  font-size: 48px;
  font-weight: 600;
}
.medify-span {
  color: #2aa7ff;
}
.symbol-img {
  width: 50px;
  position: absolute;
  top: 18%;
  left: -18%;
}
.get-link-text {
  font-family: "Lato";
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #414146;
  margin-top: 10px;
}

.input-btn{
    margin-top: 20px;
}
.country-code {
  background-color: white;
  width: 55.38px;
  height: 47px;
  border-radius: 8px 0 0 8px;
  border: 1px solid #b4b4be4d;
  font-family: "Lato";
  font-size: 14px;
  font-weight: 700;
}
.phone-no {
  height: 44.5px;
  width: 334.62px;
  border: 1px solid #b4b4be4d;
  font-family: "Poppins";
  font-size: 12px;
  border-radius: 0 8px 8px 0;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
}
.android-btn,
.apple-btn {
  width: 224px;
  height: 69px;
    margin-top: 20px;
}

.apple-btn{
    margin-left: 20px;
}