.DP3-Searched-reasult-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.DP3-Searched-reasult-sub-container {
  width: 80%;
  height: auto;
  margin-bottom: 30px;
}

.DP3-show-no-result {
  margin-top: 130px;
}

.DP3-searched-no-result {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
}

.DP3-search-info-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  color: #787887;
}

.DP3-searched-result-card-container {
  width: 54.6%;
  height: auto;
  margin-bottom: 20px;
}

.DP3-searched-result-card-banner {
  width: 180%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.DP3-searched-result-card {
  width: 786px;
  height: 269px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
}

.DP3-Searched-result-hospital-icon {
  width: 124px;
  height: 124px;
  background-color: #8ccfff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.DP3-result-hospital-icon {
  width: 80px;
  height: 80px;
}

.DP3-Searched-result-Details-heading {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  color: #14bef0;
}

.DP3-Searched-result-city-state {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 700;
  color: #414146;
}

.DP3-Searched-result-mini-details {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  color: #414146;
}

.DP3-Searched-result-Discount-details {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  color: #414146;
}

.DP3-Searched-result-free {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 700;
  color: #02a401;
}

.DP3-Searched-result-previous-price {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  color: #787887;
  text-decoration: line-through;
}

.DP3-Searched-result-Booking-available-div {
  width: 236.01px;
  height: 220.38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.DP3-Searched-result-Booking-available {
  width: 220px;
  height: 82.4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.DP3-Searched-result-available {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  color: #01a400;
}

.DP3-Searched-result-Booking {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
  color: #ffffff;
  border: 1px solid #14bef0;
  background-color: #14bef0;
}

.DP3-banner-card {
  position: absolute;
  width: 363px;
  height: 268px;
  border-radius: 15px;
  background-color: #787887;
  overflow: hidden;
}

.DP3-banner-card-image {
  width: 100%;
  height: 100%;
}

.DP3-btn-card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.DP3-Searched-reasult-cards-banner-container {
  width: 100%;
  margin: 50px;
  height: auto;
  display: flex;
  gap: 50px;
  margin-top: 30px;
}

.DP3-Searched-reasult-cards-banner {
  width: 60%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.DP3-Searched-reasult-cards {
  width: 786px;
  height: auto;
  border-radius: 15px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.DP3-Searched-reasult-cards-details {
  width: 100%;
  height: 268.38px;
  display: flex;
  justify-content: space-between;
}

.DP3-Searched-reasult-hospital-details {
  display: flex;
  align-items: center;
  gap: 8px;
}

.DP3-Searched-reasult-details {
  display: flex;
  flex-direction: column;
}

.DP3-Searched-reasult-banner {
  border-radius: 15px;
  overflow: hidden;
}

.DP3-Searched-reasult-banner-image {
  width: 363px;
  height: 268px;
}

.DP3-Searched-reasult-available-btn {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
}

.DP3-available {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  color: #01a400;
}

.DP3-Searched-reasult-hospital {
  width: 124px;
  height: 124px;
  background-color: #8ccfff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.DP3-Searched-reasult-hospital-conatiner {
  width: 140px;
  height: 140px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.DP3-HospitalIcon {
  width: 80px;
  height: 80px;
}

.DP3-Hospital-name {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  color: #14bef0;
}

.DP3-searched-result-state-details-consultant {
}

.DP3-resulted-state-city {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 700;
  color: #414146;
}

.DP3-searched-result-details {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  color: #414146;
  position: relative;
}

.DP3-consultanant-result {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  color: #414146;
}

.DP3-free {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 700;
  color: #02a401;
}

.DP3-five-hundred {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  color: #787887;
  text-decoration: line-through;
}

.DP3-like-box-container {
  width: 307.55px;
  height: 22.5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.DP3-like-box {
  height: 22.5px;
  border-radius: 3.5px;
  padding: 4.5px 7.49px 4px 10.8px;
  background-color: #00a500;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  color: #ffff;
}

.DP3-searched-checked {
  position: absolute;
  top: 70%;
  left: 83%;
}
.DP3-date {
  width: 128px;
  height: 32px;
  color: #00a500;
  padding: 7px 6.55px 8px 11.45px;
  border: 1px solid #00a500;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.DP3-time-date-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
/*

*/
.DP3-time {
  width: 84px;
  height: 31.59px;
  padding: 7px 10.96px 7.59px 11.44px;
  border-radius: 3px;
  border: 1px solid #2aa7ff;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  color: #2aa7ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
